<!DOCTYPE html>
<html>
<head>
<style type="text/css">
  .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
</style>
  <title>Your Wand Fucked Up</title>
</head>
<body>
<a href="http://localhost:9393/effect/random">How Fucked Am I?</a>
</body>
</html>